* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: grid;
  grid-template-rows: 2rem 1.5rem 1fr 1.5rem;
  grid-template-areas: 'header' 'menu' 'body' 'footer';
  --background: rgb(232, 252, 252);
  --primary: #00adad;
  --button: linear-gradient(0deg, rgb(1, 116, 116) 0%, rgb(95, 253, 253) 100%);
  --shadow: 0 0 3px var(--primary);
}

nav menu {
  list-style: none;
}

/* HEADER */

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 0 3px var(--primary);
  color: var(--primary);
}

header form {
  width: fit-content;
  box-shadow: var(--shadow);
}

header form label {
  display: none;
}

header form input {
  padding: 0.2rem;
  outline: none;
  border: none;
}

header form button {
  border: none;
  background: var(--button);
  color: white;
  padding: 0.2rem;
  font-weight: bold;
}
body header h1 {
  padding: 1rem;
}
body header nav menu li {
  padding: 0.5rem;
}

menu {
  display: flex;
  flex-direction: row;

}

header menu a {
  display: inline-block;
  font-size: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-size: contain;
}

header menu a[href*='wishlist'] {
  background-image: url('icons/heart.png');
}

header menu a[href*='cart'] {
  background-image: url('icons/cart.png');
}
header menu a[href*='profile'] {
  background-image: url('icons/user.png');
}

/* NAV*/
body > nav > menu {
  justify-content: space-between;
}

body > nav menu a {
  color: var(--primary);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

body > nav menu a:hover {
  background: var(--background);
}
body nav menu li {
  padding-right: 2rem;
}

/* MAIN */

main {
  grid-area: body;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  background: var(--background);
  padding: 1rem;
}

article {
  background: white;
  box-shadow: var(--shadow);
  width: 10rem;
  height: 20rem;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
}

article img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

article *:not(img) {
  margin: 0.5rem 1rem;
}

article p.price {
  text-align: right;
}

/* Footer */
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  color: var(--primary);
  margin: 1rem;
}

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns:  auto auto auto);
    grid-template-rows: auto;
    grid-template-areas:
      'header header header'
      'nav  main main'
      'footer footer footer';
  }

  /* HEADER */

  header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: 1;
    
  }
  body header h1 {
    grid-area: h1;
  }
  body header form {
    grid-area: form;
    justify-self: center;
   
  }
  body > header > nav > menu {
    grid-area: nav;
    display: flex;
    justify-content: end;
    }
    
  


  /* NAV */

  

  body > nav {
    justify-content: start;
    width: 20%;
  }
  body > nav > menu{
    display: flex;
    flex-direction: column;
    
   
  }
  body main {
    grid-area: main;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    
   
    
  }
  body footer {
    grid-area: footer;
  }
}
