* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vh;
  background-color: cornflowerblue;
  color: white;
}
main {
  padding-top: 2rem;
  padding-left: 2rem;
}
h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 1rem;
  color: cornflowerblue;
}
.importante {
  text-decoration: underline;
  font-weight: bold;
}
ul {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 1.5rem;
  list-style-type: circle;
  padding-bottom: 1.5rem;
}
li {
  line-height: 2;
}
table {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 50%;
  height: 250px;
  padding-left: 1rem;
  
}
thead {
  height: 50px;
  background-color: cornflowerblue;
  color: white;
  text-align: center;
}

tr {
    text-align: center;
}
tbody tr th {
  background-color:rgb(52, 198, 247);
}
tbody > tr:nth-child(even) {
  background-color: dodgerblue;
  
}
tbody > tr:nth-child(odd) {
  background-color: lightblue;
}


#descanso {
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  
